<div>
  <h1>Formulario de conversión de JSON a CSS</h1>
  <form action="/convert" method="post" enctype="multipart/form-data">
    <label for="file">Seleccione un archivo JSON:</label>
    <input type="file" name="jsonFile" id="file" />
    <button type="submit">Convertir</button>
  </form>
</div>